#login{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
    border: 1px solid gray;
}
label{
    margin-top: 10px;
    color: navy;
    text-align: center;
}
input[type="text"],
  input[type="password"]{
    width: 50%;
    height: 20px;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid black;
    text-align: center;
}
input[type="submit"]{
    width: 20%;
    color: white;
    margin-top: 10px;
    text-align: center;
    background-color: aquamarine;
}
input[type="submit"]:hover{
    background-color: blue;
}
input[name="username"],
  input[name="pw"]{
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
  }
